# =========================
# ENV
# =========================

.env
.env.*
!.env.example

# =========================
# NODE / NPM
# =========================

node_modules/

# =========================
# HTTPS CERTS
# =========================

key.pem
cert.pem

# =========================
# LOGS
# =========================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# UPLOADS
# =========================

uploads/

# =========================
# CACHE / TEMP
# =========================

.npm/
.cache/
dist/

# =========================
# OS / EDITOR
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/
