.container {
  width: 500px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.form button {
  padding: 10px 15px;
  background-color: #eaaedf;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

.botones {
  display: flex;
  gap: 10px;
}

.editar {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.eliminar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}