# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# NODE / NPM
# =========================
node_modules/
package.json
package-lock.json

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# VITE
# =========================
dist/
.vite/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# NPM / NODE CACHE
# =========================
.npm/
.cache/

# =========================
# POSTMAN
# =========================
*.postman
workspace.globals.yaml
resources.yaml

# =========================
# POWERSHELL / NPM TEMP
# =========================
nodemon
nodemon.cmd
nodemon.ps1

# =========================
# UPLOADS
# =========================
Backend/uploads/
